* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.inner-container {
    flex: 1;
    width: 20%;
    /* border: 1px solid grey; */
    border-radius: 16px;
    margin: 10px;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
    transition: flex 0.3s ease-in-out;
    overflow: hidden;
}

.inner-container h2 {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.active {
    flex: 3;
    filter: grayscale(0);
}

#inner-container-1 {
    background-image: url('images/birgunj.jpg');
}

#inner-container-2 {
    background-image: url('images/bhiswa.JPG');
}

#inner-container-3 {
    background-image: url('images/bettiah.JPG');
}

#inner-container-4 {
    background-image: url('images/kathmandu.jpg');
}

#inner-container-5 {
    background-image: url('images/pokhara.jpg');
}

